<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="private_test_repo" value="https://gandalan.pkgs.visualstudio.com/_packaging/private_test_repo/nuget/v3/index.json" />
  </packageSources>
</configuration>